* {
    border-style: solid;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
}

.header {
    /* irrelevant visualization */
    border-color: red;

    /* actual content */
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-head {
    border-color: greenyellow;
    
    display: flex;
    align-items: center;
    width: 75%;
    margin-bottom: 80px;
}

.header-links {
    margin-left: auto;
}

.sign-up {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul {
    border-color: blue;

    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
    gap: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 40px;
}
/* header head */
.head-content {
    border-color: darkmagenta;
    
    display: flex;
    width: 75%;
    margin-bottom: 80px;
    gap: 40px;
}

.top-head-logo {
    font-size: 24px;
    color: #F9FAF8;
}
/* header head */

/* header main part */
.website-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.website-description {
    font-size: 18px;
    color: #E5E7EB;
}
/* header main part */

.opening-img {
    margin-left: auto;
    /* margin-left: auto; */
    /* flex-grow: 1; */
    width: 400px;
}